.portfolio-body {
    background-color: #333333; /* replace with your desired dark color */
    color: #a33d3d; /* set text color to white or another contrasting color */;
    height: 91%;
}

.portfolio-title {
    font-family: Courier New; /* replace with your desired coding-like font */
    color: white;
    text-align: center;
    padding-top: 3rem; /* adjust as needed */
    font-size: 300%;
}

.portfolio-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding-top: 5rem;
  }

  .wide-button {
    width: 20%;
  }
  
  .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
  
  .portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  
  .portfolio-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .portfolio-item .model-name {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .portfolio-item .action-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .portfolio-item .action-icons i {
    cursor: pointer;
  }
  
  .portfolio-item .action-icons i:hover {
    color: #00a0d6;
  }

  /* Add this code to your component's SCSS file */

.dialog-content {
  padding: 20px;
  background-color: white;
}

.dialog-content h2 {
  margin-bottom: 10px;
}

.dialog-content input[type="file"] {
  margin-bottom: 15px;
}

.dialog-content button {
  margin-right: 10px;
}
  
  