.centered-dialog {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -10%;
}

.dialog-content {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.dialog-content h2 {
    margin-bottom: 10px;
}

.dialog-content input[type="file"] {
    margin-bottom: 15px;
}

.dialog-content button {
    margin-right: 10px;
}

.error-message {
    color: red;
}
  
.login-container {
  flex: 1;
  padding: 16px;
  position: relative;
  background: linear-gradient(135deg, #667eea, #764ba2);
  height: 100vh;
}