<mat-toolbar class="custom-toolbar" color="primary">
  <a routerLink="/" style="text-decoration: none;">
    <span class="logo">Object<span style="color: #7b1fa2;">Reviver</span></span>
  </a>
  <span class="example-spacer"></span>
  <div *ngIf="!isAuthenticated">
    <button mat-button routerLink="/login">Login</button>
  </div>
  <div *ngIf="isAuthenticated" class="example-user-info">
    <span>{{ loggedUser.firstName }} {{ loggedUser.lastName }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <!-- <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button> -->
      <button mat-menu-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button mat-menu-item routerLink="/portfolio">
        <mat-icon>folder</mat-icon>
        <span>Portfolio</span>
      </button>
      <button mat-menu-item routerLink="/explore">
        <mat-icon>people</mat-icon>
        <span>Explore</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
