.centered-dialog {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -5%;
}

.dialog-content {
    padding: 20px;
    background-color: white;
}

.dialog-content h2 {
    margin-bottom: 10px;
}

.dialog-content input[type="file"] {
    margin-bottom: 15px;
}

.dialog-content button {
    margin-right: 10px;
}

.error-message {
    color: red;
}
  

  
  .grid-container h2,
  .grid-container input {
    margin-bottom: 10px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
  }
  
  .stacked-inputs {
    display: flex;
    flex-direction: column;
  }
  
  .centered-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  